<div id="title">
	<div class="cell">
		<h1>Create an account</h1>
	</div>
</div>


<div id="subtitle">
	<div class="cell">
		<h2>Build your collection shortly</h2>
	</div>
</div>
<div id="content">
	<div id="left-col">
		<div class="padding">
			<%= render 'form' %>
		</div>
	</div>
	
	
</div>