<div id="title">
	<div class="cell">
		<h1>See ya!</h1>
	</div>
</div>


<div id="subtitle">
	<div class="cell">
		<h2>Logged out successfully.</h2>
	</div>
</div>
<div id="content">
	<div id="left-col">
		<div class="padding">
			<p><%= link_to 'Back to index of performances', performance_path %> | <%= link_to 'Log in again', new_user_session_path %></p>

		</div>
	</div>
</div>



