<div id="title">
	<div class="cell">
		<h1>Log in</h1>
	</div>
</div>


<div id="subtitle">
	<div class="cell">
		<h2>To do stuff you can't do anonymously</h2>
	</div>
</div>
<div id="content">
	<div id="left-col">
		<div class="padding">
			<%= render 'form' %>
		</div>
	</div>
</div>