<div class="call_out_yellow">
<p>
	This site use Textile markup for formatting text boxes. 
	<a name="textile_example_link" id="textile_example_link">See syntax examples</a>.</p>
<div id="textile_example">
<h3>Example text with Textile markup syntax used</h3>
<pre>A *simple* paragraph with
a line break, some _emphasis_ and a "link":http://redcloth.org

* an item
* and another

# one
# two</pre>

<h3>After submitting, this becomes:</h3>

<p>A <strong>simple</strong> paragraph with<br />
a link break, some <em>emphasis</em> and a a <a href="http://redcloth.org/">link</a></p>

<ul>
	<li>an item</li>
	<li>and another</li>
</ul>

<ol>
	<li>one</li>
	<li>two</li>
</ol>
</div>
</div>